*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    height: 70px;
    display: flex;
    padding: 0 36px;
    box-shadow: 0px 3px 7.45px rgba(0, 0, 0, 0.1);
}

section{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px
}

section img{
    margin: auto;
}

section h1, section p{
    margin: 0;
    padding-left: 50px;
    padding-top: 3vh;
    max-width: 50%;
}

section h1{
    padding-top: 5vh;
}

.card{
    margin-top: 90px;
    width: 266px;
    margin: 70px;
}

.cardImg{
    height: 433px;
    position: relative;
}

.imgDescription{
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    border-radius: 2px;
    padding: 6px;
}

.cardImgSrc{
    width: 100%;
    border-radius: 15px;
}

.cardDescription{
    display: flex;
    color: gray;
}

.cardDescription img{
    max-height: 20px;
}

.cardDescription p{
    margin: 30px;
}

.cards{
    display: flex;
    overflow: scroll;
}